/* GLOBAL CSS */

:root {

  /* COLORS */

  --color-primary: #27B3BA;
  --color-secondary: #B26304;
  --color-tertiary: #008080;
  --color-dark: #333;
  --color-light: #ccc;
  --color-white: #fff;


  /* GLOBAL MARGINS */

  --m-tablet: 0 2em;
  --m-mobile: 0 1em;

  font-size: 62.5%;

  /* BUTTONS */

  --btn-primary-bs: inset 2px 2px 4px rgba(250,157,2,0.4), inset -2px -2px 4px rgba(0,0,0,0.4);
  --btn-primary-bs-active: inset -2px -2px 4px rgba(250,157,2,0.4), inset 2px 2px 4px rgba(0,0,0,0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.6rem;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  letter-spacing: 0.2rem;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  color: #ccc;
  font-size: 1.6rem;
  transition: all .12s;
}

nav ul li a:hover {
  color: #B26304;
}

/* Anchor styling */
a.home {
  position: relative;
  top: 27px;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #205493;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #205493;
  transition: all 0.3s;
}

a.home:hover {
  background-color: #205493;
  color: #FFF;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: #ccc;
  padding: 20px 0;
  z-index: 1000;
}

.header-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--m-desktop);
}

.header-content-bottom {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.header-title {
  display: flex;
  align-items: center;
  
}

.header-title h2 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}

.header-title img {
  width: 7em;
  margin-right: 2rem;
}

.header-content-top .subheading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #27B3BA;
}

@media screen and (max-width: 999px) {
  .header-content-top,
  .header-content-bottom {
    padding: var(--m-tablet);
  }

  .header-content-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: var(--m-mobile);
    margin-bottom: 20px;
  }

  .header-content-bottom {
    border-top: 1px solid #008080;
  }

  .header-title img {
    width: 5em;
    margin-right: 1.5rem;
  }

  .subheading {
    display: none;
  }
}

@media screen and (max-width: 746px) {
  .header-content-top,
  .header-content-bottom {
    padding: var(--m-mobile);
  }

  .header-title img {
    width: 4em;
    margin-right: 1rem;
  }
}

/* MAIN */

main {
  position: relative;
  top: 140px;
}

@media screen and (max-width: 999px) {
  main {
    top: 100px;
  }
}

/* HERO */

#hero {
  height: 85em;
  background: radial-gradient(circle at center right, #0F5F76, #27B3BA);
  overflow-x: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.hero-content img {
  position: absolute;
  bottom: 0;
  right: -20%;
  width: 750px;
  z-index: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.hero-content h1 {
  font-size: 10em;
  color: #fff;
}

.hero-content p {
  font-size: 2.5rem;
  color: #fff;
}

.hero-content a {
  display: inline-block;
  padding: 20px 20px;
  background: #B26304;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--btn-primary-bs);
  transition: all .12s;
}

.hero-content a:hover {
  background: #ba6f14;
}

.hero-content a:active {
  box-shadow: var(--btn-primary-bs-active);
}

@media screen and (max-width: 999px) {
  #hero {
    background-position: bottom;
    padding: var(--m-tablet);
  }

  .hero-content {
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    gap: 15px;
  }

  .hero-content img {
    right: 50%;
    transform: translateX(50%);
    width: 750px;
    z-index: 0;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
  }

  .hero-content h1 {
    font-size: 7rem;
    z-index: 1;
  }
  
  .hero-content p {
    font-size: 2rem;
    z-index: 1;
  }
  
  .hero-content a {
    padding: 15px 20px;
    font-size: 1.4rem;
    width: 200px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    height: 80em;
    padding: var(--m-mobile);
  }

  .hero-content {
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    gap: 10px;
  }

  .hero-content img {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 750px;
    z-index: 0;
  }

  .hero-content h1 {
    font-size: 3em;
  }
  
  .hero-content p {
    font-size: 1.4rem;
  }
  
  .hero-content a {
    padding: 15px 20px;
    width: 200px;
  }
}

@media screen and (max-width: 499px) {
  #hero {
    overflow-x: hidden;
  }
}


/* EXERCISES */

#exercises,
#projects {
  background: #111;
  padding: 15em 0 5em 0;
}

section .content {
  max-width: 1000px;
  margin: 0 auto;
  color: #ccc;
}

section .content h2 {
  font-size: 7rem;
  color: #27B3BA;
  margin-bottom: 40px;
}

section .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

section .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

section .item::before {
  content: '';
  position: absolute;  /* Position relative to the parent */
  top: 0; left: 0;  /* Align the pseudo-element */
  width: 100%;
  height: 100%;
  border-radius: 5px;  /* Match parent's border-radius */
  z-index: 0;
}

#cheatsheet::before {
  background: linear-gradient(to right, #F26B87, #E7A557);  /* Your gradient */
}
#breadcrumbs::before {
  background: linear-gradient(to right, #CC01F1, #5902B2);  /* Your gradient */
}
#web-design-system::before {
  background: linear-gradient(to right, #BA0265, #DD44A4);  /* Your gradient */
}
#tea-cosy::before {
  background: linear-gradient(to right, #249A80, #8DC0A5);  /* Your gradient */
}
#animal-task-list::before {
  background: linear-gradient(45deg, #3023ae, #eb7f7b);
}
#fotomatic::before {
  background: linear-gradient(125deg, #f12711, #f5af19);
}
#business-site::before {
  background: linear-gradient(180deg, #0052ce, #d75f04);
}
#sausage-club::before {
  background: linear-gradient(90deg, #11f154, #d819f5);
}

section .item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #333, #222);  /* Make content background solid, covering the pseudo-element */
  padding: 40px 20px;  /* Optional: Adjust padding as needed */
  border-radius: 5px;  /* Optional: Match parent's border-radius if visible edge is required */
  z-index: 1;
}

section .item-content h3 {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  background: linear-gradient(to bottom right, #434859, #353948);
  border: 3px solid #5A5D74;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.6rem;
  display: inline;
  color:#fff;
}
section .item-content p {
  font-size: 1.6rem;
  margin: 10px 0;
  color: #fff;
}

section .item-content a {
  display: inline-block;
  padding: 10px 20px;
  background: #B26304;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: var(--btn-primary-bs);
  transition: all .12s;
}
section .item-content a:hover {
  background: #ba6f14;
}

section .item-content a:active {
  box-shadow: var(--btn-primary-bs-active);
}

@media screen and (max-width: 999px) {
  section .item-content {
    text-align: center;
    padding: var(--m-tablet);
  }
}

@media screen and (max-width: 768px) {
  section .content {
    padding: 0 4rem;
  }
  section .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 499px) {
  section .content h2 {
    font-size: 5rem;
    color: #27B3BA;
    margin-bottom: 40px;
  }
  section .grid {
    grid-template-columns: 1fr;
  }
}


/* FOOTER */

footer {
  width: 100%;
  background: #111;
  padding: 20px 0;
  z-index: 1000;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

footer nav {
  margin-bottom: 20px;
}

.footer-copyright {
  font-size: 1rem;
  color: #aaa;
}

@media screen and (max-width: 999px) {
  .footer-content {
    padding: var(--m-tablet);
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
    padding: var(--m-mobile);
  }
  footer .footer-content nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}